.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 2px solid #0b0000;
}
.scoreSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Literata", serif;
  margin-top: 8px;
  margin: 20px;
}
