.modalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.round {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-weight: bolder;
}
.imageModal {
  height: 400px;
  width: 450px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.buttonNewGame {
  background: chocolate;
  padding: 10px;
  font-weight: bold;
}
.choiceSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Literata", serif;
  margin-top: 8px;
}
.spanVs {
  padding: 40px;
  font-weight: bolder;
}
