.modalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.round {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-weight: bolder;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.buttonNewGame {
  background: chocolate;
  padding: 10px;
  font-weight: bold;
}

.spanVs {
  padding: 40px;
  font-weight: bolder;
}
